extends base

block content
    img(src="/"+loggedInUser.avatarUrl, width='100', height='100')
    form(method="POST", enctype='multipart/form-data')
        label(for="avatar") Avatar 
        input(type="file", id='avatar', name='avatar', accept='image/*')
        input(type="text",name='name',placeholder="Name" ,value=loggedInUser.name)
        input(type="email",name='email',placeholder="Email" ,value=loggedInUser.email)
        input(type="text",name='username',placeholder="Username" ,value=loggedInUser.username)
        input(type="text",name='location',placeholder="Location" ,value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;
