extends base.pug

block content 
    h3 #{video.views} #{video.views === 1? "view" : "views"}
    //- /link : absolute url /root -> /link,  
    //- link : relative url  /root/link -> root/other
    a(href=`${video.id}/edit`) Edit Video &rarr;