extends ../base

block content 
    if errorMessge
        span errorMessage
    form(method="POST")
        input(type="password",name='oldPwd',placeholder="Old Password" required)
        input(type="password",name='newPwd',placeholder="New Password" required)
        input(type="password",name='newPwdConfirm',placeholder="New Password Confirmation" required)
        input(type="submit", value="Change Password")